<h1 class='page-header'>Construction</h1>
<!-- <div class="container">
  <%= image_tag "construction", class: 'our-services-image img-fluid' %>
  <h1 class='our-services-header'>Construction</h1>
  <hr>
  <section>
    <p class='justify'>
      Owning and operating a construction company can be extremely rewarding. It can also be full of risks and challenges. To be profitable in the construction industry, you have to plan wisely - and at the same time sweat the details. As a business owner, you face a wide range of challenges: high risk, competitive environment, varying profit margins, retention of an effective workforce, cyclical business, scrutiny from lending and bonding companies, and factors you can't control such as weather and material shortages.
    </p>
    <p class='justify'>
      Running your own operation in the construction industry means what happens to your company directly impacts your personal wealth. With effective planning and advice you can minimize your risks, protect assets and increase the likelihood of success.
    </p>
    <p>
      In addition to the usual tax services and accounting and assurance services you'd expect from a first-class accounting firm, our Construction Services Group offers:
    </p>
  </section>
  <section>
    <h3>Services</h3>
    <li class="partner-li">Business continuation and succession planning</li>
    <li class="partner-li">Wealth planning and estate planning</li>
    <li class="partner-li">Organizational analysis and review</li>
    <li class="partner-li">Budgeting and financial analysis</li>
    <li class="partner-li">Cost segregation services</li>
    <li class="partner-li">Buy-sell agreements</li>
    <li class="partner-li">Mergers and acquisitions</li>
    <li class="partner-li">Financial reporting</li>
    <li class="partner-li">Outsourced CFO</li>
    <li class="partner-li bottom-li">Complex business transactions</li>
  </section>
  <hr>
  <section>
    <h3>For more information, please contact:</h3>
    <h5>Steve Cleland</h5>
    <p>
      <%= link_to "310-447-1234 x239", 'tel:1-310-447-1234' %>
      <br>
      <%= link_to "scleland@bflc.com", 'mailto:scleland@bflc.com' %>
    </p>
    <h5>Doug Beach</h5>
    <p>
      <%= link_to "310-447-1234 x233", 'tel:1-310-447-1234' %>
      <br>
      <%= link_to "dbeach@bflc.com", 'mailto:dbeach@bflc.com' %>
    </p>
  </section>
</div> -->
