<h1 class='page-header'>Craft Brewing</h1>
<!-- <div class="container">
  <%= image_tag "craft_brewing", class: 'our-services-image img-fluid' %>
  <h1 class='our-services-header'>Craft Brewing</h1>
  <hr>
  <section>
    <p class='justify'>
      Many craft brewers hope to turn their passion for great beer into a profitable business. Beach Freeman Lim &amp; Cleland recognizes this passion and aims to help you keep the focus on brewing great beer by giving you the tools to run and monitor your business efficiently and effectively.
    </p>
    <p class='justify'>
      Whether you are considering starting a brewery or you have an established brew house, we can help.
    </p>
    <ul>
      <li>Tax Assistance - Tax structure, planning and preparation to take advantage of all the tax opportunities available to breweries.</li>
      <li>Financial Statement Analysis - We can help you manage your business through your financial reporting to providing financial reports that should be reviewed daily, weekly or monthly.</li>
      <li>Industry Comparisons - We can help you with comparisons to the industry averages and help you focus on best practices.</li>
      <li><%= link_to "Fraud Protection", asset_path("fraud_article.pdf"), target: '_blank' %> - Protect your assets from both external and internal fraudsters.</li>
      <li>Startup Consulting - Beach Freeman Lim &amp; Cleland Start-up Checklist ensures that no issue gets ignored.</li>
    </ul>
  </section>
  <hr>
  <section>
    <h3>For more information, please contact:</h3>
    <h5>Steve Cleland</h5>
    <p>
      <%= link_to "310-447-1234 x239", 'tel:1-310-447-1234' %>
      <br>
      <%= link_to "scleland@bflc.com", 'mailto:scleland@bflc.com' %>
    </p>
    <h5>Doug Beach</h5>
    <p>
      <%= link_to "310-447-1234 x233", 'tel:1-310-447-1234' %>
      <br>
      <%= link_to "dbeach@bflc.com", 'mailto:dbeach@bflc.com' %>
    </p>
  </section>
</div> -->
