<h1 class='page-header'>Family Owned Businesses</h1>
<!-- <div class="container">
  <%= image_tag "family_owned_business", class: 'our-services-image img-fluid' %>
  <h1 class='our-services-header'>Family Owned Businesses</h1>
  <hr>
  <section>
    <h3>Working Together</h3>
    <p class='justify'>
      Family owned businesses are the backbone of the world economy. In the United States alone there are approximately 20 million family owned businesses. Family business owners face special challenges. Family dynamics influence every aspect of operations from compensation planning and management structure to succession planning. We regularly work with family owned businesses. Our professionals will work closely with you to develop clear, step-by-step business plans. We remain involved as you put the plans to work.
    </p>
    <p class='justify'>
      In addition to the usual tax services and accounting and assurance services you'd expect from a first-class accounting firm, our Family Owned Business Group offers more.
    </p>
  </section>
  <hr>
  <section>
    <h3>We have helped clients resolve tough issues such as:</h3>
    <li class="partner-li">Establishing voting control and ownership percentages</li>
    <li class="partner-li">Planning compensation programs and evaluating performance</li>
    <li class="partner-li">Defining roles and responsibilities of family members</li>
    <li class="partner-li">Providing for non-employee family members</li>
    <li class="partner-li">Developing estate and gift planning recommendations</li>
    <li class="partner-li">Maintaining loyalty and motivation of non-family employees</li>
    <li class="partner-li bottom-li">Retaining control while shifting ownership</li>
  </section>
  <hr>
  <section>
    <h3>Our range of services include:</h3>
    <li class="partner-li">Developing strategies for managing change as well as growth</li>
    <li class="partner-li">Planning for succession</li>
    <li class="partner-li">Positioning to sell your business</li>
    <li class="partner-li">Tax planning and advisory services</li>
    <li class="partner-li">Management consulting</li>
    <li class="partner-li">Wealth planning</li>
    <li class="partner-li bottom-li">Complex business transactions</li>
  </section>
  <hr>
  <section>
    <h3>For more information, please contact:</h3>
    <h5>Steve Cleland</h5>
    <p>
      <%= link_to "310-447-1234 x239", 'tel:1-310-447-1234' %>
      <br>
      <%= link_to "scleland@bflc.com", 'mailto:scleland@bflc.com' %>
    </p>
    <h5>Gene Lim</h5>
    <p>
      <%= link_to "310-447-1234 x224", 'tel:1-310-447-1234' %>
      <br>
      <%= link_to "glim@bflc.com", 'mailto:glim@bflc.com' %>
    </p>
  </section>
</div> -->
