<!-- <h1 class='page-header'>High Net Worth Individuals</h1> -->
<div class="container">
  <%= image_tag "high_net_worth_individuals", class: 'our-services-image img-fluid' %>
  <h1 class='our-services-header'>High Net Worth Individuals</h1>
  <hr>
  <section>
    <p class='justify'>
      At BFLC, our mission is to help our high net worth clients maintain the stability and wealth preservation they desire. We are experienced in providing tax and business advisory services to high net worth individuals, their businesses, and their families. In an economic climate of uncertainty and constantly changing federal and state tax laws and regulations, our accountants are experts in helping you maintain and improve your financial position. We offer personalized, strategic tools designed to deliver the very best services to protect and secure your wealth.
    </p>
  </section>
  <hr>
  <section>
    <h3>We offer a wide range of services to high net worth clients in all industries:</h3>
    <li class="partner-li">Tax compliance</li>
    <li class="partner-li">Gifting strategies</li>
    <li class="partner-li">Business succession planning</li>
    <li class="partner-li">Retirement planning</li>
    <li class="partner-li">Charitable contributions</li>
    <li class="partner-li">Estate planning</li>
    <li class="partner-li">Business valuations</li>
    <li class="partner-li bottom-li">Fraud prevention</li>
  </section>
  <hr>
  <section>
    <h3>For more information, please contact:</h3>
    <h5>Doug Beach</h5>
    <p>
      <%= link_to "310-447-1234 x233", 'tel:1-310-447-1234' %>
      <br>
      <%= link_to "dbeach@bflc.com", 'mailto:dbeach@bflc.com' %>
    </p>
    <h5>Gene Lim</h5>
    <p>
      <%= link_to "310-447-1234 x224", 'tel:1-310-447-1234' %>
      <br>
      <%= link_to "glim@bflc.com", 'mailto:glim@bflc.com' %>
    </p>
  </section>
</div>
