<h1>Welcome to BFLC</h1>

<p><%= link_to 'About the Firm', about_the_firm_path %></p>
<p><%= link_to 'Partners', partners_path %></p>
<p><%= link_to 'Our Services', our_services_path %></p>
<p><%= link_to 'Industries', industries_path %></p>
<p><%= link_to 'Careers', careers_path %></p>
<p><%= link_to 'Knowledge Base', knowledge_base_path %></p>
<p><%= link_to 'Contact Us', contact_us_path %></p>
