<h1 class='page-header'>Law Firms</h1>
<!-- <div class="container">
  <%= image_tag "law_firms", class: 'our-services-image img-fluid' %>
  <h1 class='our-services-header'>Law Firms</h1>
  <hr>
  <section>
    <h3>Peace of Mind</h3>
    <p class='justify'>
      We provide law firms with the "peace of mind" that their tax returns are prepared to minimize their tax burden, that internal controls are effective to safeguard assets and that financial statements are useful tools for managing their business.
    </p>
  </section>
  <hr>
  <section>
    <h3>Realize Your True Potential</h3>
    <p>
      In the face of intense competition, successful law firms must deliver quality legal services and practice effective business management. This means you need improved control over professional time, overhead and cash flow.
    </p>
    <p>
      Beach Freeman Lim &amp; Cleland specialize in helping law firms achieve optimum financial results. We help lawyers focus on key procedures and operating practices to improve cash and paperwork flow.
    </p>
    <p>
      We frequently speak at the Association of Legal Administrators events, write articles for legal publications and present at Bar Association educational events.
    </p>
    <p>
      In addition to the usual tax services and accounting and assurance services you'd expect from a first-class accounting firm, our Law Firm Services Group can:
    </p>
    <li class="partner-li">Benchmark your firm results to your peers and recommend improvements</li>
    <li class="partner-li">Formulate useful and practical budgets to improve profitability</li>
    <li class="partner-li">Perform mergers and acquisitions due diligence and coordinated implementation</li>
    <li class="partner-li">Plan partner/shareholder compensation arrangements, separation payments, admissions and retirements</li>
    <li class="partner-li">Develop partner accountability criteria</li>
    <li class="partner-li">Establish efficient billing and collection procedures</li>
    <li class="partner-li">Develop cash management systems</li>
    <li class="partner-li">Conduct operational reviews, including organization and staffing studies</li>
    <li class="partner-li">Develop fraud prevention systems and internal controls to safeguard assets</li>
    <li class="partner-li">Review capital requirements and recommend firm capitalization policies</li>
    <li class="partner-li">Perform start-up consulting</li>
    <li class="partner-li">Turnaround consulting</li>
    <li class="partner-li">Facilitate firm retreats</li>
    <li class="partner-li">Handle complex business transactions</li>
    <li class="partner-li bottom-li">Instruct Law Firm Economics 101 -assist attorneys in understanding what makes the business of a law firm tick and how to manage the business for success</li>
  </section>
  <hr>
  <section>
    <h3>For more information, please contact:</h3>
    <h5>Steve Cleland</h5>
    <p>
      <%= link_to "310-447-1234 x239", 'tel:1-310-447-1234' %>
      <br>
      <%= link_to "scleland@bflc.com", 'mailto:scleland@bflc.com' %>
    </p>
    <h5>Gene Lim</h5>
    <p>
      <%= link_to "310-447-1234 x224", 'tel:1-310-447-1234' %>
      <br>
      <%= link_to "glim@bflc.com", 'mailto:glim@bflc.com' %>
    </p>
  </section>
</div> -->
