<!-- <h1 class='page-header'>Manufacturing and Distribution</h1> -->
<div class="container">
  <%= image_tag "manufacturing_and_distribution", class: 'our-services-image img-fluid' %>
  <h1 class='our-services-header'>Manufacturing and Distribution</h1>
  <hr>
  <section>
    <p class='justify'>
      Many manufacturing businesses face common issues today such as changing labor and input costs, increased competition, shrinking margins, inventory management and rapidly changing technology. Beach Freeman Lim & Cleland also understands that each manufacturer faces a unique set of challenges and those challenges are continuously changing. We are dedicated to serving manufacturing businesses like yours. Our professionals keep you well prepared by offering an integrated approach, advising you on the most relevant issues impacting your business. We have extensive experience based on years of serving the manufacturing/distribution sector that they will apply to your unique situation.
    </p>
  </section>
  <hr>
  <section>
    <h3>The Beach Freeman Lim &amp; Cleland Manufacturing/Distribution team provides services in the following areas:</h3>
    <li class="partner-li">- Tax planning and compliance</li>
    <li class="partner-li">- R&amp;D Tax Credits</li>
    <li class="partner-li">- Enterprise zone credits</li>
    <li class="partner-li">- Cost segregation studies</li>
    <li class="partner-li">- Audit and financial reporting services</li>
    <li class="partner-li">- Product costing analysis</li>
    <li class="partner-li">- Projections and forecasts</li>
    <li class="partner-li">- Evaluation of international opportunities</li>
    <li class="partner-li">- Assistance with obtaining financing</li>
    <li class="partner-li">- Inventory and production controls</li>
    <li class="partner-li">- Internal financial controls &amp; fraud prevention</li>
    <li class="partner-li">- Cash flow management and budgeting</li>
  </section>
  <hr>
  <section>
    <h3>For more information, please contact:</h3>
    <h5>Gary Freeman</h5>
    <p>
      <%= link_to "310-447-1234 x232", 'tel:1-310-447-1234' %>
      <br>
      <%= link_to "gfreeman@bflc.com", 'mailto:gfreeman@bflc.com' %>
    </p>
    <h5>Gene Lim</h5>
    <p>
      <%= link_to "310-447-1234 x224", 'tel:1-310-447-1234' %>
      <br>
      <%= link_to "glim@bflc.com", 'mailto:glim@bflc.com' %>
    </p>
  </section>
</div>
