<!-- <h1 class='page-header'>Not-For-Profit</h1> -->
<div class="container">
  <%= image_tag "not_for_profit", class: 'our-services-image img-fluid' %>
  <h1 class='our-services-header'>Not-For-Profit</h1>
  <hr>
  <section>
    <p class='justify'>
      Not-for-profit organizations face an increasingly complex and ever-changing operational and regulatory environment. Navigating this environment requires experienced professionals that understand the issues faced by organizations.
    </p>
  </section>
  <hr>
  <section>
    <h3>We Understand Not-for-Profit Organizations</h3>
    <p class='justify'>
      Beach Freeman Lim &amp; Cleland is experienced in assisting clients in the not-for-profit industry. We serve not-for-profits with a broad range of organizational missions. From a single tax-exempt organization to a complex mix of related for-profit and not-for-profit entities, Beach Freeman Lim &amp; Cleland has the expertise to serve you.
    </p>
    <p class='justify'>
      We provide a full range of audit and management consulting services to not-for-profit organizations. Our comprehensive service offerings include:
    </p>
    <li class="partner-li">- Financial Statement Audits</li>
    <li class="partner-li">- HUD audits</li>
    <li class="partner-li">- OMB A-133 Circular</li>
    <li class="partner-li">- Forms 990, 990-PF, and 990T</li>
    <li class="partner-li">- Pensions - Auditing 401(k), 403(b) and other employee benefit plans</li>
    <li class="partner-li">- Cost allocations</li>
    <li class="partner-li">- Cash flow planning</li>
    <li class="partner-li">- Budget preparation</li>
    <li class="partner-li bottom-li">- Fraud Prevention and Investigation</li>
    <p class="justify">
      In addition, we continually strive to be more than traditional auditors and consultants, offering additional services such as board presentations, updates and information on not-for-profit "hot topics".
    </p>
  </section>
  <hr>
  <section>
    <h3>For more information, please contact:</h3>
    <h5>Steve Cleland</h5>
    <p>
      <%= link_to "310-447-1234 x239", 'tel:1-310-447-1234' %>
      <br>
      <%= link_to "scleland@bflc.com", 'mailto:scleland@bflc.com' %>
    </p>
    <h5>Doug Beach</h5>
    <p>
      <%= link_to "310-447-1234 x233", 'tel:1-310-447-1234' %>
      <br>
      <%= link_to "dbeach@bflc.com", 'mailto:dbeach@bflc.com' %>
    </p>
  </section>
</div>
