<div class="container">
  <h1 class='page-header'>Our Partners</h1>
  <hr>
</div>

<section class="jumbotron partners-jumbotron white-background">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-5 ">
        <%= link_to image_tag('business_man_small'), doug_beach_path %>
      </div>
      <div class="col-md-7">
        <!-- <h2 class="display-5 text-muted">Doug Beach</h2> -->
        <h2><%= link_to "Doug Beach, CPA", doug_beach_path, class: 'display-5 text-muted partner-name' %></h2>
        <br>
        <h5 class='text-muted jumbotron-text justify'>
          Doug is the Partner-in-Charge of the Tax Department at Beach Freeman Lim &amp; Cleland. Doug consults with clients on all aspects of their businesses including corporate and partnership structuring, mergers and acquisitions, compensation-related matters (including equity based compensation), tax credits, and state and local taxes.
        </h5>
      </div>
    </div>
  </div>
</section>

<section class="jumbotron partners-jumbotron">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-7">
        <!-- <h2 class="display-5 text-muted">Doug Beach</h2> -->
        <h2><%= link_to "Gary Freeman, CPA", gary_freeman_path, class: 'display-5 text-muted partner-name' %></h2>
        <br>
        <h5 class='text-muted jumbotron-text justify'>
          Gary Freeman is a Partner in Beach Freeman Lim &amp; Cleland's Audit and Accounting services division. Having more than 18 years of experience in accounting and consulting, Gary has provided his expertise to a variety of closely and publicly held growth businesses in strategic planning, business consulting, auditing and accounting services.
        </h5>
      </div>
      <div class="col-md-5 ">
        <%= link_to image_tag('business_man_small'), gary_freeman_path %>
      </div>
    </div>
  </div>
</section>

<section class="jumbotron partners-jumbotron white-background">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-5 ">
        <%= link_to image_tag('business_man_small'), gene_lim_path %>
      </div>
      <div class="col-md-7">
        <!-- <h2 class="display-5 text-muted">Doug Beach</h2> -->
        <h2><%= link_to "Gene Lim, CPA", gene_lim_path, class: 'display-5 text-muted partner-name' %></h2>
        <br>
        <h5 class='text-muted jumbotron-text justify'>
          Gene is the Managing Partner at Beach Freeman Lim &amp; Cleland. Gene specializes in income tax and business planning for closely held companies and high net worth individuals. He assists with entity structure and formations, mergers and acquisitions and works closely with clients to keep accurate books and records to help them make better informed decisions on running their business.
        </h5>
      </div>
    </div>
  </div>
</section>

<section class="jumbotron partners-jumbotron">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-7">
        <!-- <h2 class="display-5 text-muted">Doug Beach</h2> -->
        <h2><%= link_to "Steve Cleland, CPA", steve_cleland_path, class: 'display-5 text-muted partner-name' %></h2>
        <br>
        <h5 class='text-muted jumbotron-text justify'>
          Steve works closely with individual, business and non-profit clients. He has a strong background in assurance services (audit, review and compilation) assisting clients with selection of accounting policies and procedures that are consistent with business owner goals. In addition, Steve brings in-depth experience in auditing Employee Benefit Plans.
        </h5>
      </div>
      <div class="col-md-5 ">
        <%= link_to image_tag('business_man_small'), steve_cleland_path %>
      </div>
    </div>
  </div>
</section>

<section class="jumbotron  partners-jumbotron white-background">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-5 ">
        <%= link_to image_tag('business_woman_small'), susan_lewis_path %>
      </div>
      <div class="col-md-7">
        <!-- <h2 class="display-5 text-muted">Doug Beach</h2> -->
        <h2><%= link_to "Susan Lewis, CPA", susan_lewis_path, class: 'display-5 text-muted partner-name' %></h2>
        <br>
        <h5 class='text-muted jumbotron-text justify'>
          Susan is a Partner in Beach Freeman Lim &amp; Cleland’s Audit and Accounting services division.  She has approximately 20 years of experience in public accounting, providing financial and compliance audits, reviews, compilations, and business consulting to privately-held companies and non-profit organizations.
        </h5>
      </div>
    </div>
  </div>
</section>
