<!-- <h1 class='page-header'>Real Estate</h1> -->
<div class="container">
  <%= image_tag "real_estate", class: 'our-services-image img-fluid' %>
  <h1 class='our-services-header'>Real Estate</h1>
  <hr>
  <section>
    <h3>Positive Developments, Smart Investments</h3>
    <p class='justify'>
      Investing in real estate has never been more exciting. Whether your objective is to develop land or commercial property or to maintain an existing portfolio, there are many issues to consider. Our goal is to give real estate developers and investors an accurate picture of where they are and a sound plan for getting to where they want to be.
    </p>
    <p class="justify">
      Talk to anyone involved in real estate development in Southern California and they'll tell you we know real estate - big picture or little picture. We are trained to provide owners and developers of real estate with creative solutions. We work hard to stay abreast of the latest trends to help your business prosper. Part of our involvement with the real estate industry includes membership in real estate organizations.
    </p>
    <p class="justify">
      In addition to the usual tax services and accounting and assurance services you'd expect from a first-class accounting firm, we also offer:
    </p>
  </section>
  <hr>
  <section>
    <h3>Services</h3>
    <li class="partner-li">Complex transaction tax consulting</li>
    <li class="partner-li">Deal analysis and projections - Is the deal worth it?</li>
    <li class="partner-li">
      Entity structure - What type of entity or entities is most advantageous for your project?
    </li>
    <li class="partner-li">Analysis of pre-operating vs. start-up costs and capital vs. current expenditures</li>
    <li class="partner-li">Application of the real estate professional and passive activity rules</li>
    <li class="partner-li">Cost segregation studies to accelerate depreciation deductions</li>
    <li class="partner-li">Fraud prevention systems and internal controls to safeguard assets</li>
    <li class="partner-li">Proformas and projections for leases, acquisitions and dispositions</li>
    <li class="partner-li">Cash flow and budgeting analysis</li>
    <li class="partner-li">Profitability analysis by property</li>
    <li class="partner-li">Allocation of costs to various lots or properties</li>
    <li class="partner-li">Financing - Sourcing the best lender for each project, deal analysis</li>
    <li class="partner-li">
      Section 1031 exchanges - We work with you and your accommodator to ensure that your transaction qualifies for the tax deferred treatment and make sure that you are taking advantage of all of the savings and deferral available.Complex business transactions
    </li>
    <li class="partner-li"></li>
  </section>
  <hr>
  <section>
    <h3>For more information, please contact:</h3>
    <h5>Gary Freeman</h5>
    <p>
      <%= link_to "310-447-1234 x232", 'tel:1-310-447-1234' %>
      <br>
      <%= link_to "gfreeman@bflc.com", 'mailto:gfreeman@bflc.com' %>
    </p>
    <h5>Doug Beach</h5>
    <p>
      <%= link_to "310-447-1234 x233", 'tel:1-310-447-1234' %>
      <br>
      <%= link_to "dbeach@bflc.com", 'mailto:dbeach@bflc.com' %>
    </p>
  </section>
</div>
