<!-- <h1 class='page-header'>Retail</h1> -->
<div class="container">
  <%= image_tag "retail", class: 'our-services-image img-fluid' %>
  <h1 class='our-services-header'>Retail</h1>
  <hr>
  <section>
    <h3>Maximize Your Profits</h3>
    <p class='justify'>
      Timely and accurate financial information is critical in the highly competitive retail environment. In a naturally cyclical business, retailers need advice on ways to maintain profitability. Our services enable retailers to manage their businesses in financially sound ways.
    </p>
    <p class="justify">
      In addition to the usual tax services and accounting and assurance services you'd expect from a first-class accounting firm, our Retail Group offers:
    </p>
  </section>
  <section>
    <li class="partner-li">Profitability studies by location</li>
    <li class="partner-li">Bank or other types of expansion capital assistance</li>
    <li class="partner-li">Internal accounting and financial information systems consulting</li>
    <li class="partner-li">Internal audits</li>
    <li class="partner-li">Fraud prevention and internal control reviews</li>
    <li class="partner-li">Outsourced CFO</li>
    <li class="partner-li">Key employee compensation arrangements</li>
    <li class="partner-li">Strategic planning</li>
    <li class="partner-li">Estate planning and succession planning</li>
    <li class="partner-li">Business acquisition</li>
    <li class="partner-li bottom-li">Complex business transactions</li>
  </section>
  <hr>
  <section>
    <h3>For more information, please contact:</h3>
    <h5>Steve Cleland</h5>
    <p>
      <%= link_to "310-447-1234 x239", 'tel:1-310-447-1234' %>
      <br>
      <%= link_to "scleland@bflc.com", 'mailto:scleland@bflc.com' %>
    </p>
    <h5>Gene Lim</h5>
    <p>
      <%= link_to "310-447-1234 x224", 'tel:1-310-447-1234' %>
      <br>
      <%= link_to "glim@bflc.com", 'mailto:glim@bflc.com' %>
    </p>
  </section>
</div>
