<!-- <h1 class='page-header'>Service Firms</h1> -->
<div class="container">
  <%= image_tag "service_firm", class: 'our-services-image img-fluid' %>
  <h1 class='our-services-header'>Professional Service Firms</h1>
  <hr>
  <section>
    <h3>Profit From Our Advice</h3>
    <p class='justify'>
      Our Professional Services Group works with clients such as law firms, architects, medical practices, engineers, insurance brokers, interior designers and advertising agencies.
    </p>
    <p class="justify">
      We work closely with your firm to improve financial results. As a professional services firm ourself, we understand your unique challenges and issues. We help you focus on key procedures and operating practices to improve cash and paperwork flow with our comprehensive approach, we customize our services to meet the current and long-term goals of your firm.
    </p>
    <p class="justify">
      In addition to the usual tax services and accounting and assurance services you'd expect from a first-class accounting firm, our Professional Services Group can:
    </p>
  </section>
  <section>
    <li class="partner-li">Plan compensation strategies</li>
    <li class="partner-li">Perform due diligence for buying, acquiring or selling of practice</li>
    <li class="partner-li">Review disability, professional liability and business interruption insurance</li>
    <li class="partner-li">Develop partner accountability criteria</li>
    <li class="partner-li">Establish effective operating procedures</li>
    <li class="partner-li">Develop cash management system</li>
    <li class="partner-li">Formulate useful and practical budgets to improve profitability</li>
    <li class="partner-li">Develop fraud prevention systems and internal controls to safeguard assets</li>
    <li class="partner-li">Review capital requirements and recommend firm capitalization policies</li>
    <li class="partner-li">Perform start-up consulting</li>
    <li class="partner-li">Handle complex business transactions</li>
  </section>
  <hr>
  <section>
    <h3>For more information, please contact:</h3>
    <h5>Doug Beach</h5>
    <p>
      <%= link_to "310-447-1234 x233", 'tel:1-310-447-1234' %>
      <br>
      <%= link_to "dbeach@bflc.com", 'mailto:dbeach@bflc.com' %>
    </p>
    <h5>Gene Lim</h5>
    <p>
      <%= link_to "310-447-1234 x224", 'tel:1-310-447-1234' %>
      <br>
      <%= link_to "glim@bflc.com", 'mailto:glim@bflc.com' %>
    </p>
  </section>
</div>
