<!-- <h1 class='page-header'>Technology</h1> -->
<div class="container">
  <%= image_tag "technology", class: 'our-services-image img-fluid' %>
  <h1 class='our-services-header'>Technology</h1>
  <hr>
  <section>
    <h3>Build Your Future...</h3>
    <p class='justify'>
      At Beach Freeman Lim &amp; Cleland, we work with a wide range of technology companies - pre-IPO and closely held. Our clients include start-ups to companies with many millions in revenue. We understand the challenges of ownership, stock options, and wealth planning - as well as strategic planning for the future and the challenges of daily financial management.
    </p>
    <p class="justify">
      The Technology Group's expertise and personal, timely service have earned us a reputation for quality results.
    </p>
    <p class="justify">
      In addition to the usual tax services and accounting and assurance services you'd expect from a first-class accounting firm, our Technology Group offers:
    </p>
  </section>
  <section>
    <li class="partner-li">Pre-IPO preparation</li>
    <li class="partner-li">Outsourced CFO</li>
    <li class="partner-li">Projections</li>
    <li class="partner-li">Business plan review</li>
    <li class="partner-li">Due diligence</li>
    <li class="partner-li">Corporate structuring</li>
    <li class="partner-li">Start-up assistance</li>
    <li class="partner-li">Fraud prevention and internal control reviews</li>
    <li class="partner-li">Strategic planning</li>
    <li class="partner-li">Mergers and acquisitions consulting</li>
    <li class="partner-li">Complex business transactions</li>
    <li class="partner-li">Wealth planning</li>
    <li class="partner-li">Growth management consulting</li>
  </section>
  <hr>
  <section>
    <h3>For more information, please contact:</h3>
    <h5>Doug Beach</h5>
    <p>
      <%= link_to "310-447-1234 x233", 'tel:1-310-447-1234' %>
      <br>
      <%= link_to "dbeach@bflc.com", 'mailto:dbeach@bflc.com' %>
    </p>
    <h5>Gary Freeman</h5>
    <p>
      <%= link_to "310-447-1234 x232", 'tel:1-310-447-1234' %>
      <br>
      <%= link_to "gfreeman@bflc.com", 'mailto:gfreeman@bflc.com' %>
    </p>
  </section>
</div>
