<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="map-responsive">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d26484.02300600382!2d-118.385239!3d33.928192!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2b6b65b813807%3A0x294688815e6b5792!2s861+Parkview+Dr+N%2C+El+Segundo%2C+CA+90245!5e0!3m2!1sen!2sus!4v1496669809297" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-4">
      <h4>We are located at:</h4>
      <p class='text-muted'>861 Parkview Drive North, Suite 200</p>
      <p class='text-muted'>El Segundo, CA 90245</p>
      <hr>
      <p class='text-muted'><h5>Tel:</h5> <%= link_to "310-447-1234", 'tel:1-310-447-1234' %></p>
      <p class='text-muted'><h5>Fax:</h5> 310-447-0287</p>

      <p class='text-muted'><h5>email:</h5> <%= link_to "ContactUs@bflc.com", 'mailto:contactus@bflc.com?Subject=Email from BFLC website contact us page' %></p>
    </div>

    <div class="col-md-7 offset-md-1">
      <p class='text-muted'>Do you have a question, comment, suggestion or news tip to pass along to BFLC? If you have a question or comment, please fill out the short form below.</p>

      <br>

        <%= form_for @message, url: create_message_url do |f| %>
            <%= notice %>
            <%= @message.errors.full_messages.join(', ') %>

          <div class='form-group'>
            <%= f.text_field :name, placeholder: 'name', class: 'form-control' %>
          </div>
          <div class='form-group'>
            <%= f.text_field :email, placeholder: 'email', class: 'form-control' %>
          </div>
          <div class='form-group'>
            <%= f.text_area :body, placeholder: 'message', class: 'form-control', rows: 15 %>
          </div>
          <div class="form-group">
            <%= f.submit 'Send', class: 'btn btn-info btn-block', disabled: true %>
          </div>
        <% end %>
    </div>
  </div>
</div>
