<h1><%= @blog.title %></h1>

<hr>

<small>Authored on: <%= @blog.created_at.strftime('%B %e, %Y') %></small>
<br>
<small>by: <strong><%= current_user.name %></strong></small>
<p><%= @blog.body %></p>
<p><%= link_to 'Edit Article', edit_blog_path(@blog) %></p>
<p><%= link_to 'Delete', blog_path(@blog), method: :delete, data: { confirm: "Are you sure you want to delete #{@blog.title}?" } %></p>

<p><%= link_to 'Back to All Articles', blogs_path %></p>
