<div class="card">
  <div class="card-block">
    <h4 class="card-title"><%= link_to article.title, article %></h4>
    <h6 class="card-subtitle mb-2 text-muted">Published <%= article.created_at.strftime('%B %-e, %Y') %></h6>
    <p class="card-text"><%= truncate_html(article.body, length: 200) %></p>
    <% if user_signed_in? %>
      <%#= link_to 'Show', article, class: 'btn btn-secondary btn-sm' %>
      <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-warning btn-sm' %>
      <%= link_to 'Delete', article, method: :delete, data: { confirm: "Are you sure you want to delete the article '#{article.title}'?" }, class: 'btn btn-danger btn-sm' %>
    <% end %>
  </div>
</div>
