<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
      <% article.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group">
    <%= link_to 'Back', articles_path, class: 'btn btn-secondary btn-sm' %>
    <%= form.submit button_text, class: 'btn btn-info btn-sm' %>
  </div>

  <div class="form-group">
    <%= form.text_field :title, id: :article_title, autofocus: true, class: 'form-control', placeholder: 'Title'  %>
  </div>

  <div class="form-group">
    <%= form.text_area :body, id: 'wysiwyg', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= link_to 'Back', articles_path, class: 'btn btn-secondary btn-sm' %>
    <%= form.submit button_text, class: 'btn btn-info btn-sm' %>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    $('#wysiwyg').froalaEditor({
      toolbarInline: false,
      heightMin: '400px',
      toolbarButtons: ['paragraphFormat', 'fontFamily', 'fontSize', 'bold', 'italic', 'underline', 'strikeThrough', '|', 'align', 'formatOL', 'formatUL', 'indent', 'outdent', '|', 'insertImage', 'insertLink', 'undo', 'redo'],
    })
  })
</script>
