<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="articles-margin">
        <div>
          <%= link_to 'All Articles', articles_path, class: 'btn btn-info btn-sm' %>
          <% if user_signed_in? %>
            <%= link_to 'Edit Article', edit_article_path(@article), class: 'btn btn-warning btn-sm' %>
            <%= link_to 'Delete Article', article_path(@article), method: :delete, data: { confirm: "Are you sure you want to delete #{@article.title}?" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </div>
        <br>
        <h1><%= @article.title %></h1>
        <small>Published <%= @article.created_at.strftime('%B %e, %Y') %></small>
        <hr>
        <!-- <small>by: <strong><%#= current_user.name %></strong></small> -->
        <div class='fr-view'><%= @article.body.html_safe %></div>
        <hr>
        <%= link_to 'All Articles', articles_path, class: 'btn btn-info btn-sm' %>
        <% if user_signed_in? %>
          <%= link_to 'Edit Article', edit_article_path(@article), class: 'btn btn-warning btn-sm' %>
          <%= link_to 'Delete Article', article_path(@article), method: :delete, data: { confirm: "Are you sure you want to delete #{@article.title}?" }, class: 'btn btn-danger btn-sm' %>
        <% end %>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
