<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="articles-margin">
        <h1><%= @article.title %></h1>

        <hr>

        <small>Published on: <%= @article.created_at.strftime('%B %e, %Y') %></small>
        <br>
        <!-- <small>by: <strong><%#= current_user.name %></strong></small> -->
        <div class='fr-view'><%= @article.body.html_safe %></div>

        <% if user_signed_in? %>
          <%= link_to 'Edit Article', edit_article_path(@article), class: 'btn btn-warning' %>
          <%= link_to 'Delete Article', article_path(@article), method: :delete, data: { confirm: "Are you sure you want to delete #{@article.title}?" }, class: 'btn btn-danger' %>
        <% end %>
        <hr>
        <%= link_to 'All Articles', articles_path, class: 'btn btn-info' %>
      </div>
    </div>
  </div>
</div>
